{{#each this}}


<li class="single-country">

  <h2 class="single-country-title">
    {{name}}
  </h2>

    <ul class="inner-single-country">

<ul class="single-country-list">
        <li class="single-country-list__about">
        <span class="single-country-list__info">Capital:</span> 
        {{capital}};
        </li >  
        <li class="single-country-list__about">
          <span class="single-country-list__info">Population:</span> 
          {{population}};
        </li>
  
          <li class="single-country-list__about">
              <span class="single-country-list__info">Languages:</span> 
              
              <ul class="single-country-list__lang">
            {{#each languages}}
                <li>{{name}};</li>
            {{/each }}
              </ul>
          </li>
</ul>

              <li>
                <img class="single-country__img" src="{{flag}}" alt="flag">
                </li>

    </ul>




</li>

{{/each}}
